<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.loyalblocks.NativeConvenientFoodMartNEPA"
      android:versionCode="191"
      android:versionName="4.6">
      <uses-feature android:name="android.hardware.camera"/>
      <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>
      <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"></uses-sdk>
	<application android:name=".LoyalBlocksApplicationClass" android:label="@string/app_name" android:icon="@drawable/app_icon" android:theme="@style/Theme"
	    android:hardwareAccelerated="true" android:largeHeap="true">
       <uses-library android:name="com.google.android.maps" />
      <!--   <uses-library android:name="com.google.zxing.client.android" /> -->
      
      
       
 
		<activity android:name=".FirstTimeRegistrationActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="adjustPan"/>
<!-- 		<activity android:name=".RegisterNewUserActivity"        android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
<!-- 		<activity android:name=".LoginActivity"                  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
		<activity android:name=".AllSpotsListAcitivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="adjustPan">
<!-- 		     <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
        
		<activity android:name=".AreYouHereActivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="adjustResize">
		     <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		
		
		<activity android:name=".CreateAccountActivity"  android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="adjustPan"/>
		
        
<!-- 		<activity android:name=".MenuFragmentsActivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden" -->
<!-- 		    android:windowSoftInputMode="adjustPan"> -->
<!-- 		     <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->
<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
<!--         </activity> -->
        
		
		
<!-- 		<activity android:name=".SpotDetailsActivity" 			 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
		<activity android:name=".SitesMapActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
<!-- 		<activity android:name=".AllRewardsListAcitivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
<!-- 		<activity android:name=".RewardDetailsActivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
<!-- 		<activity android:name=".FoundMeActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
<!-- 		<activity android:name=".FoundMeUnlockedActivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
		<activity android:name=".ProfileActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
<!-- 		<activity android:name=".PunchCardRewardDetailsActivity" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
<!-- 		<activity android:name=".SpotInfoActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
		<activity android:name=".YouActivity" 				     android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".SiteNearbyDetailsActivity" 	 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MembershipsListActivity" 		 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MembershipDetailsActivity"      android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".PunchCardDetailsActivity"      android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".InStoreActivity"                android:screenOrientation="portrait" 
					android:launchMode="singleTask" android:theme="@style/MyTheme"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".AddPictureActivity"                android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".SignUpNameActivity"                android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".SignUpCheckInMethodActivity"                android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".SignInActivity"                android:screenOrientation="portrait"  android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MembershipTabActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MembershipProfileActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MembershipGalleryActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".GalleryActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".CreateAreaActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".AreasListActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
        
		<activity android:name=".InstoreMain"           android:configChanges="orientation|keyboardHidden|screenSize">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        
		<activity-alias
    		android:name=".InstoreMenuActivity"
    		android:exported="true"
    		android:targetActivity=".InstoreMain"/>
		
		<activity android:name=".TokenListActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".InstoreTokenListActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		
		
		
		<activity android:name=".ChannelsActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
<!-- 		<activity android:name=".ReviewActivity"                android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/> -->
		<activity android:name=".CameraPreview"     android:screenOrientation="portrait"  android:configChanges="orientation" android:windowSoftInputMode="adjustResize"  />
		<activity android:name=".ShowPictureActivity"   android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".MyProfileActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".EditProfileActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="stateHidden"/>
		<activity android:name=".EditWalkinsActivity" 			 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".TriStateActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".InstoreProfileActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".TakeToNYActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".CheckInActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".ShowMapActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".PunchCardListActivity" 	    android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name=".InstoreRewardListActivity" 	android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden|screenSize"/>
		<activity android:name=".ChatActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
		<activity android:name=".ChatOwnerActivity" 				 android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
		    android:windowSoftInputMode="adjustNothing"/>
		
		<activity android:name="com.facebook.LoginActivity"
           android:theme="@android:style/Theme.Translucent.NoTitleBar"
           android:label="@string/app_name" />
		
		<activity android:name="PickerActivity"
          android:label="@string/app_name" />
		
		<!-- Start of Crittercism.com Code -->
<!-- 		<activity android:name="com.crittercism.NotificationActivity"/> -->
		<!-- End of Crittercism.com Code -->
		
		
		<activity android:name="com.google.zxing.client.android.CaptureActivity" android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden">
			<intent-filter>
        		<action android:name="com.google.zxing.client.android.SCAN"/>
        		<category android:name="android.intent.category.DEFAULT"/>
      		</intent-filter>
      	</activity>
      	<service android:name=".LocationPollerService"/>
      	<service android:name=".IBeaconService"/>
      	<receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.locationWatchDog"/>
                <action android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.ibeaconScan"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
          <!-- REQUIRED -->
       
        
        <!-- REQUIRED for Urban Airship GCM-->
        
    
 <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.GcmBroadcastReceiver.notificationOpened" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.loyalblocks.NativeConvenientFoodMartNEPA" />
            </intent-filter>
</receiver>
<service android:name=".GcmIntentService" />
        <!-- END OF REQUIRED ITEMS -->
        

        <!-- OPTIONAL, if you want to receive push, push opened and registration completed intents -->
      <receiver android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.UAIntentReceiver" >
          <intent-filter>
      		<action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
      		<action android:name="com.urbanairship.push.OPENED" />
      		<action android:name="com.urbanairship.push.RECEIVED" />

      <!-- MODIFICATION REQUIRED - Use your package name as the category -->
      		<category android:name="com.loyalblocks.NativeConvenientFoodMartNEPA" />
  		</intent-filter>
  		
  	</receiver>
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        <!--         maps debug key -->
<!--         <meta-data -->
<!--     		android:name="com.google.android.maps.v2.API_KEY" -->
<!--     		android:value="AIzaSyDFzxsxGnWPmMEKU9FQ3EPiv30HhtwkDSI"/> -->

<!--         maps production key -->
		<meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyDsM4gTNsYMN8TRZ6q9UKsuxd1atqLaw7A"/>
		
		<meta-data
    		android:name="com.google.android.gms.version"
    		android:value="@integer/google_play_services_version" />

	
	<meta-data android:name="com.crashlytics.ApiKey" android:value="a6ad501dacd1452733824a7f5b604ce4a1283d77"/>
        
    </application>
	
	
	

	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

	<permission
        android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
	<uses-permission android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.MAPS_RECEIVE"/>
	
	 <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
<!--     <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" /> -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

<!--     <permission android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.UA_DATA" android:protectionLevel="signature" /> -->
<!-- 	<uses-permission android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.UA_DATA" /> -->

    <!-- REQUIRED for C2DM  -->
    <!-- Only this application can receive the messages and registration result -->
    <permission android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.loyalblocks.NativeConvenientFoodMartNEPA.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive message -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
</manifest> 